<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Letter U</title>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
    <link rel="stylesheet" href="Navbar-Centered-Links-icons.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body style="font-family: Adamina, serif;">
    <nav class="navbar navbar-light navbar-expand-md sticky-top py-3" style="background: linear-gradient(black 0%, rgb(205,205,205) 0%, white 100%), #ffffff;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/">
            <!-- <img src="icon.png" width="50em" height="50em" style="margin: 10px"></img> -->
            <span style="margin-left: 10px">Letter U</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2" style="margin: 0px;">
                <ul class="navbar-nav flex-row me-auto" style="margin-left: 20px;">
                    <li class="nav-item"><a class="nav-link" href="/sent" style="margin-right: 5px;margin-left: 5px;">Sent</a></li>
                    <li class="nav-item"><a class="nav-link" href="/received" style="margin-right: 5px;margin-left: 5px;">Received</a></li>
                    <li class="nav-item"><a class="nav-link" href="/compose" style="margin-right: 5px;margin-left: 5px;">Compose</a></li>
                </ul><strong style="margin-right: 5px;margin-left: 5px;"><%= username %></strong>
                <a class="btn btn-primary shadow-sm ms-md-2" role="button" href="/logout" style="background: #212529;border-style: none;font-family: Adamina, serif;border-radius: 5px;">Log Out</a>
            </div>
        </div>
    </nav>
    <div class="container d-flex flex-column align-content-center flex-wrap" style="min-width: 360px;">